header, .header {
    height: 15vw;
    min-height: 60px;
    max-height: 150px;
    padding: 0 4vw;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 50;
    
    background: white;
    box-shadow: 0px 0.8vw 1.6vw 0px #00000050;
    
    .contentsZone {
        width: 100%;
        max-width: var(--desktop-breakpoint);
        height: 100%;
        margin: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        user-select: none;
        -moz-user-select: none;
    }
}

.headerLogoContainer {
    max-width: 12rem;
    height: 60%;
    min-height: 2rem;
    max-height: 5rem;
}

.headerLogo {
    width: 100%;
    height: 100%;

    .svg-fill-1 {
        fill: var(--clr-jesblue);
    }
    
    .svg-fill-2 {
        fill: var(--clr-jesorange);
    }
}

.headerToggleBtn,
.headerLinksNav {
    display: none;
}

.headerToggleLabel {
    width: 5vw;
    min-width: 1.5rem;
    max-width: 2.5rem;
    height: 5vw;
    min-height: 1.5rem;
    max-height: 2.5rem;

    .innerDiv {
        background-color: var(--clr-jesblue);
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 0%, 0% 20%, 100% 20%, 100% 40%, 0% 40%, 0% 60%, 100% 60%, 100% 80%, 0% 80%, 0% 100%, 100% 100%, 100% 0%);
        transition: all 200ms ease-in-out;
        cursor: pointer;
    }
}


.headerToggleBtn:checked {
    ~.headerToggleLabel .innerDiv {
        background-color: var(--clr-jesorange);
        clip-path: polygon(20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%, 20% 0%, 0% 20%, 30% 50%, 0% 80%);
    }

    ~.headerLinksNav {
        display: flex;
    
        .headerLinks {
            li,
            .dropdown,
            .dropdown-content {
                width: 100%;
            }
        }
    }
}

.headerLinksNav {
    width: 100%;
    max-width: 20rem;
    height: fit-content;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    position: absolute;
    right: 0;
    top: 100%;

    background-color: white;
    box-shadow: 0px 8px 16px 0px #00000033, 8px 0px 16px 0px #00000033;
}

.headerLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
    }

    .dropbtn {
        position: relative;
        box-shadow: 0px 5px 5px -5px #00000033,
    }
    .dropbtn::after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        background-color: white;
        width: 2rem;
        height: 0.6rem;
        clip-path: polygon(0 0, 50% 100%, 100% 0);
    }
    .headerLink {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        color: var(--clr-jesblue);
        font-family: var(--font-title);
        font-size: 1rem;

        &:hover {
            color: var(--clr-jesorange);
        }
    }

    .dropdown-element {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        color: var(--clr-jesblue);
        background-color: var(--clr-emph2-100);
        font-family: var(--font-title);
        font-size: 0.9rem;
        
        &:hover {
            color: var(--clr-jesorange);
        }
    }
}

.dropdown-content {
    display: flex;
    flex-direction: column;
}





@media screen and (min-width: 1100px) {
    header, .header {
        box-shadow: 0px 0.5rem 1rem 0px #00000050;
    }
}

@media screen and (min-width: 900px) {
    
    .headerToggleLabel {
        display: none;
    }

    .headerLinksNav {
        display: flex;
        width: auto;
        height: 100%;
        max-width: unset;
        
        background-color: unset;
        position: unset;
        right: unset;
        top: unset;

        box-shadow: none
    }

    .headerLinks {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        .headerLink {
            width: auto;
            height: 50px;
            margin-left: 4rem;

            text-align: center;
            display:flex;
            align-items: center;
            justify-content: center;
            
            color: var(--clr-jesblue);
            font-family: var(--font-title);
            font-size: 1.1rem;
    
            &:hover {color: var(--clr-jesorange)}
            &.filled {background-color: var(--clr-jesblue); color: #fff; border-radius: 25px; padding: 0 1rem;}
            &.filled:hover {background-color: var(--clr-jesorange); color: #fff; text-decoration: none;}
        }

        .dropdown-element:hover {
            color: var(--clr-jesblue);
        }
    }

    .dropdown {
        position: relative;
    }
    .headerLinks .dropbtn,
    .headerLinks .dropbtn:after {
        cursor: default;
        box-shadow: unset;
    }
    .dropdown-content {
        display: none;
        width: 100%;
        margin-left: 2rem;
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px 0px #00000033;
        z-index: 1;
    }
    .dropdown-content a {
        display: block;
        color: var(--clr-emph2-700);
        padding: 0.2rem 0;
        text-decoration: none;
        text-align: center;
    }
    .dropdown-content a:hover {
        background-color: var(--clr-emph1-200);
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .headerLinks .dropdown-element {
        background-color: white;
    }

    .headerLinks .dropbtn::after {display: none;}
}
