@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  scrollbar-color: var(--clr-gray-700) var(--clr-gray-400);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--clr-gray-400);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-gray-700);
}

:root {
  scroll-behavior: smooth;
}

html {
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: normal;
}

body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--light);
}

main, .main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.contentsZone, .navigationZone {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-width: var(--desktop-breakpoint);
  height: 100%;
  margin: 3rem 0 5rem 0;
  -webkit-user-select: text;
      -ms-user-select: text;
          user-select: text;
  -moz-user-select: text;
}

.contentsZone :first-child, .navigationZone :first-child {
  margin-top: 0;
}

section {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.gray {
  background-color: var(--clr-gray-100);
}

section.blue {
  background-color: var(--clr-emph2-100);
}

section.orange {
  background-color: var(--clr-emph1-100);
}

section.image-bg {
  position: relative;
  padding-top: 35rem;
}

section.image-bg::before {
  content: "";
  display: block;
  width: 100%;
  height: 50vw;
  min-height: 50rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: var(--bg-img-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.image-bg > * {
  z-index: 1;
  background-color: white;
  -webkit-box-shadow: 0 0 0 3rem white;
          box-shadow: 0 0 0 3rem white;
}

.foreground {
  z-index: 5;
}

.slanted-container {
  position: relative;
  -webkit-filter: drop-shadow(0 -5px 5px #00000050) drop-shadow(0 5px 5px #00000050);
          filter: drop-shadow(0 -5px 5px #00000050) drop-shadow(0 5px 5px #00000050);
  background-color: white;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.slanted-container:before, .slanted-container:after {
  content: "";
  width: 100%;
  height: 7vw;
  position: absolute;
  bottom: 100%;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
          clip-path: polygon(0 0, 0 100%, 100% 100%);
  background-color: inherit;
}

.slanted-container:after {
  top: 100%;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0%);
          clip-path: polygon(0 0, 0 100%, 100% 0%);
}

.slanted-container.mirror:before, .slanted-container.mirror:after {
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
          clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.slanted-container.mirror:after {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
}

h1 {
  color: var(--clr-jesblue);
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 0 2rem   0;
}

h2 {
  color: var(--clr-jesblue);
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 3rem 0 1.5rem 0;
}

h3 {
  color: var(--clr-jesblue);
  font-family: var(--font-title);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2rem 0 1rem   0;
}

h4 {
  color: var(--clr-jesblue);
  font-family: var(--font-title);
  font-size: 1.2rem;
  font-weight: normal;
  margin: 2rem 0 1rem   0;
}

h5 {
  color: var(--clr-emph1-500);
  font-family: var(--font-title);
  font-size: 1.05rem;
  font-weight: bold;
  margin: 1.5rem 0 0.8rem 0;
}

h6 {
  color: var(--clr-emph1-500);
  font-family: var(--font-title);
  font-size: 1.05rem;
  font-weight: normal;
  margin: 1.5rem 0 0.8rem 0;
}

p {
  color: var(--clr-gray-900);
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: normal;
  margin: 0    0 1rem   0;
}

h1::after {
  content: "";
  display: block;
  width: 5rem;
  max-width: 100%;
  padding-top: 0.4rem;
  border-bottom: 0.4rem solid var(--clr-jesorange);
}

p:last-of-type {
  margin: 0;
}

b, .b {
  font-weight: bold;
}

i, .i {
  font-style: italic;
}

u, .u {
  text-decoration: underline;
}

em, .em {
  color: var(--clr-jesorange);
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 2.2rem;
    margin: 0 0 2rem   0;
  }
  h2 {
    font-size: 2rem;
    margin: 0 0 2rem   0;
  }
  h3 {
    font-size: 1.5rem;
    margin: 0 0 1.2rem 0;
  }
  h4 {
    font-size: 1.5rem;
    margin: 0 0 1.2rem 0;
  }
  h5 {
    font-size: 1.2rem;
    margin: 0 0 1rem   0;
  }
  h6 {
    font-size: 1.2rem;
    margin: 0 0 1rem   0;
  }
  p {
    font-size: 1.1rem;
    margin: 0 0 2rem   0;
  }
}

header, .header {
  height: 15vw;
  min-height: 60px;
  max-height: 150px;
  padding: 0 4vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 50;
  background: white;
  -webkit-box-shadow: 0px 0.8vw 1.6vw 0px #00000050;
          box-shadow: 0px 0.8vw 1.6vw 0px #00000050;
}

header .contentsZone, .header .contentsZone {
  width: 100%;
  max-width: var(--desktop-breakpoint);
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
}

.headerLogoContainer {
  max-width: 12rem;
  height: 60%;
  min-height: 2rem;
  max-height: 5rem;
}

.headerLogo {
  width: 100%;
  height: 100%;
}

.headerLogo .svg-fill-1 {
  fill: var(--clr-jesblue);
}

.headerLogo .svg-fill-2 {
  fill: var(--clr-jesorange);
}

.headerToggleBtn,
.headerLinksNav {
  display: none;
}

.headerToggleLabel {
  width: 5vw;
  min-width: 1.5rem;
  max-width: 2.5rem;
  height: 5vw;
  min-height: 1.5rem;
  max-height: 2.5rem;
}

.headerToggleLabel .innerDiv {
  background-color: var(--clr-jesblue);
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0% 0%, 0% 20%, 100% 20%, 100% 40%, 0% 40%, 0% 60%, 100% 60%, 100% 80%, 0% 80%, 0% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 20%, 100% 20%, 100% 40%, 0% 40%, 0% 60%, 100% 60%, 100% 80%, 0% 80%, 0% 100%, 100% 100%, 100% 0%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.headerToggleBtn:checked ~ .headerToggleLabel .innerDiv {
  background-color: var(--clr-jesorange);
  -webkit-clip-path: polygon(20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%, 20% 0%, 0% 20%, 30% 50%, 0% 80%);
          clip-path: polygon(20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%, 20% 0%, 0% 20%, 30% 50%, 0% 80%);
}

.headerToggleBtn:checked ~ .headerLinksNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerToggleBtn:checked ~ .headerLinksNav .headerLinks li,
.headerToggleBtn:checked ~ .headerLinksNav .headerLinks .dropdown,
.headerToggleBtn:checked ~ .headerLinksNav .headerLinks .dropdown-content {
  width: 100%;
}

.headerLinksNav {
  width: 100%;
  max-width: 20rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 8px 16px 0px #00000033, 8px 0px 16px 0px #00000033;
          box-shadow: 0px 8px 16px 0px #00000033, 8px 0px 16px 0px #00000033;
}

.headerLinks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerLinks a {
  text-decoration: none;
}

.headerLinks .dropbtn {
  position: relative;
  -webkit-box-shadow: 0px 5px 5px -5px #00000033;
          box-shadow: 0px 5px 5px -5px #00000033;
}

.headerLinks .dropbtn::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  background-color: white;
  width: 2rem;
  height: 0.6rem;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
          clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.headerLinks .headerLink {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: var(--clr-jesblue);
  font-family: var(--font-title);
  font-size: 1rem;
}

.headerLinks .headerLink:hover {
  color: var(--clr-jesorange);
}

.headerLinks .dropdown-element {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: var(--clr-jesblue);
  background-color: var(--clr-emph2-100);
  font-family: var(--font-title);
  font-size: 0.9rem;
}

.headerLinks .dropdown-element:hover {
  color: var(--clr-jesorange);
}

.dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1100px) {
  header, .header {
    -webkit-box-shadow: 0px 0.5rem 1rem 0px #00000050;
            box-shadow: 0px 0.5rem 1rem 0px #00000050;
  }
}

@media screen and (min-width: 900px) {
  .headerToggleLabel {
    display: none;
  }
  .headerLinksNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 100%;
    max-width: unset;
    background-color: unset;
    position: unset;
    right: unset;
    top: unset;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .headerLinks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headerLinks .headerLink {
    width: auto;
    height: 50px;
    margin-left: 4rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--clr-jesblue);
    font-family: var(--font-title);
    font-size: 1.1rem;
  }
  .headerLinks .headerLink:hover {
    color: var(--clr-jesorange);
  }
  .headerLinks .headerLink.filled {
    background-color: var(--clr-jesblue);
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }
  .headerLinks .headerLink.filled:hover {
    background-color: var(--clr-jesorange);
    color: #fff;
    text-decoration: none;
  }
  .headerLinks .dropdown-element:hover {
    color: var(--clr-jesblue);
  }
  .dropdown {
    position: relative;
  }
  .headerLinks .dropbtn,
  .headerLinks .dropbtn:after {
    cursor: default;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .dropdown-content {
    display: none;
    width: 100%;
    margin-left: 2rem;
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0px 8px 16px 0px #00000033;
            box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
  }
  .dropdown-content a {
    display: block;
    color: var(--clr-emph2-700);
    padding: 0.2rem 0;
    text-decoration: none;
    text-align: center;
  }
  .dropdown-content a:hover {
    background-color: var(--clr-emph1-200);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .headerLinks .dropdown-element {
    background-color: white;
  }
  .headerLinks .dropbtn::after {
    display: none;
  }
}

footer, .footer {
  padding: 0 4vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  z-index: 50;
}

footer:before, .footer:before {
  content: "";
  top: 0;
  width: 80vw;
  height: 1px;
  background-color: var(--clr-gray-500);
  z-index: 50;
}

footer .contentsZone, .footer .contentsZone {
  width: 100%;
  max-width: var(--desktop-breakpoint);
  height: 100%;
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
}

footer .footerDescription, .footer .footerDescription {
  display: none;
  -webkit-user-select: text;
      -ms-user-select: text;
          user-select: text;
  -moz-user-select: text;
}

footer .copyrightLogo, .footer .copyrightLogo {
  width: 100%;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--clr-gray-800);
}

footer .footerLogo, .footer .footerLogo {
  width: 40vw;
  max-width: 10rem;
  margin-bottom: 2rem;
}

footer .footerLinksSocials, .footer .footerLinksSocials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footerLinks, .footer .footerLinks {
  height: 5rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.1rem;
}

footer .footerLinks *, .footer .footerLinks * {
  color: var(--clr-gray-800);
  text-decoration: none;
}

footer .footerLinks *:hover, .footer .footerLinks *:hover {
  color: var(--clr-jesorange);
}

footer .footerSocials, .footer .footerSocials {
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerSocial, .footer .footerSocial {
  width: 2.7rem;
  height: 2.7rem;
  fill: var(--clr-jesorange);
}

footer .footerSocial:hover, .footer .footerSocial:hover {
  fill: var(--clr-jesblue);
}

@media screen and (min-width: 900px) {
  footer .contentsZone, .footer .contentsZone {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .copyrightLogo, .footer .copyrightLogo {
    margin-bottom: 0;
  }
  footer .footerLogo, .footer .footerLogo {
    margin-bottom: 1rem;
  }
  footer .footerDescription, .footer .footerDescription {
    margin-right: 2rem;
    display: inline-block;
    color: var(--clr-gray-800);
    font-size: 1.05rem;
  }
  footer .footerLinksSocials, .footer .footerLinksSocials {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 0 2rem;
    border-left: solid 1px var(--clr-gray-500);
  }
  footer .footerLinks, .footer .footerLinks {
    text-align: start;
  }
}

.button {
  width: 8rem;
  padding: 1rem 1.5rem;
  background-color: var(--clr-jesorange);
  outline-color: var(--clr-jesorange);
  color: white;
  border-radius: 4px;
  font-size: 1.2rem;
  text-decoration: none;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.button:hover:not(.fancy) {
  background-color: var(--clr-emph1-700);
}

.button.light {
  color: var(--clr-jesblue);
  background-color: white;
  outline-color: white;
}

.button.fancy {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 5px;
}

.button.fancy:hover {
  outline-offset: 10px;
}

section.siteMap a {
  color: var(--clr-gray-800);
  text-decoration: none;
}

section.siteMap a:hover {
  text-decoration: underline;
}

section.siteMap .siteMapBox {
  border-left: solid 1px var(--clr-gray-800);
  margin: 1.2rem 0.5rem;
  padding-left: 1.5rem;
  color: var(--clr-gray-800);
}

section.siteMap .siteMapBox p {
  margin: 0.3rem 0;
}

section .navigationZone {
  margin-bottom: 0;
  color: var(--clr-gray-700);
}

section .page {
  color: var(--darkblue);
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

section .page:not(:last-of-type)::after {
  content: "❯";
  margin-left: 0.5rem;
  -webkit-text-emphasis: none;
          text-emphasis: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
}

section a {
  text-decoration: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
}

section .page:hover span {
  color: var(--clr-jesorange);
}

.cardsGrid {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-width: var(--desktop-breakpoint);
  height: 100%;
  margin: 3rem 0 5rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  row-gap: 2rem;
  -webkit-column-gap: 0;
          column-gap: 0;
  grid-auto-rows: minmax(200px, auto);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 500px) {
  .cardsGrid {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    -ms-grid-columns: (minmax(auto, 1fr))[2];
        grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}

@media screen and (min-width: 900px) {
  .cardsGrid {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    -ms-grid-columns: (minmax(auto, 1fr))[3];
        grid-template-columns: repeat(3, minmax(auto, 1fr));
  }
}

.cardsGrid .cardImg {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  overflow: hidden;
}

.cardsGrid .cardImg img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.cardsGrid .card:hover .cardImg img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.cardsGrid .cardTextContents {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: auto;
  height: auto;
  overflow: hidden;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-user-select: text;
      -ms-user-select: text;
          user-select: text;
  -moz-user-select: text;
}

.cardsGrid .cardTextContents .title, .cardsGrid .cardTextContents .title * {
  margin-top: 0;
  margin-bottom: 0.8rem;
  color: var(--clr-jesblue);
  font-family: var(--font-title);
  font-size: 1.05rem;
  font-weight: bold;
  text-decoration: none;
}

.cardsGrid .cardTextContents .title::after, .cardsGrid .cardTextContents .title *::after {
  display: none;
}

@media screen and (min-width: 900px) {
  .cardsGrid .cardTextContents .title, .cardsGrid .cardTextContents .title * {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }
}

.cardsGrid .cardTextContents .title a:hover, .cardsGrid .cardTextContents .title * a:hover {
  text-decoration: underline;
}

.cardsGrid .cardTextContents .description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.cardsGrid .cardTextContents .extraInfo * {
  color: var(--clr-gray-900);
  text-decoration: none;
}

.cardsGrid .cardTextContents .extraInfo a:hover {
  text-decoration: underline;
}

.cardsGrid .cardTextContents .extraInfo > :first-child {
  color: var(--clr-emph1-500);
}

.cardsGrid .cardTextContents .extraInfo > :not(:first-child)::before {
  content: ' - ';
}

.cardsGrid .card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cardsGrid .card.articleVcard, .cardsGrid .card.articleHcard {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row: span 2;
  grid-column: span 1;
}

.cardsGrid .card.articleVcard .cardImg, .cardsGrid .card.articleHcard .cardImg {
  max-height: 50%;
}

@media screen and (min-width: 500px) {
  .cardsGrid .card.articleHcard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    grid-row: span 1;
    grid-column: span 2;
  }
  .cardsGrid .card.articleHcard .cardImg {
    max-width: 50%;
    max-height: unset;
  }
}

.cardsGrid .card.textCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  grid-row: span 1;
  grid-column: span 1;
}

.cardsGrid .card.titleCard {
  position: relative;
}

.cardsGrid .card.titleCard .cardImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cardsGrid .card.titleCard .cardImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000e0), color-stop(40%, #000000a0), color-stop(70%, transparent));
  background: linear-gradient(0deg, #000000e0 0%, #000000a0 40%, transparent 70%);
}

.cardsGrid .card.titleCard .cardTextContents {
  z-index: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cardsGrid .card.titleCard .cardTextContents .title, .cardsGrid .card.titleCard .cardTextContents .title * {
  color: white;
  font-size: 1.5rem;
}

.cardsGrid .card.titleCard .cardTextContents .extraInfo * {
  color: white;
}

.cardsGrid .card.titleCard .cardTextContents .extraInfo :first-child {
  color: var(--clr-emph1-500);
}

.cardsGrid .card.buttonCard {
  position: relative;
  grid-row: span 2;
  grid-column: span 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardsGrid .card.buttonCard .cardImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cardsGrid .card.buttonCard .cardImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000070;
}

.cardsGrid .card.buttonCard .cardTextContents {
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

.cardsGrid .card.buttonCard .cardTextContents .title, .cardsGrid .card.buttonCard .cardTextContents .title * {
  color: white;
  font-size: 1.5rem;
}

.cardsGrid .card.buttonCard .cardTextContents .description, .cardsGrid .card.buttonCard .cardTextContents .description * {
  color: white;
  font-size: 1rem;
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

.cardsGrid .card.buttonCard .button {
  z-index: 5;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .cardsGrid .card.buttonCard {
    grid-row: span 1;
    grid-column: span 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cardsGrid .card.buttonCard .cardImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .cardsGrid .card.buttonCard .cardImg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000070;
  }
  .cardsGrid .card.buttonCard .cardTextContents {
    max-width: 50%;
  }
  .cardsGrid .card.buttonCard .cardImg {
    max-height: 100%;
  }
}

@media screen and (min-width: 900px) {
  .cardsGrid .card.buttonCard {
    grid-row: span 1;
    grid-column: span 3;
  }
  .cardsGrid .card.buttonCard .cardImg {
    max-height: 100%;
  }
}

@media screen and (min-width: 500px) {
  .cardsGrid .card.large-h-2, .cardsGrid .card.large-h-3 {
    grid-column: span 2;
  }
}

@media screen and (min-width: 900px) {
  .cardsGrid .card.large-h-3 {
    grid-column: span 3;
  }
}

.cardsGrid .card.large-v-2 {
  grid-row: span 2;
}

.cardsGrid .card.large-v-3 {
  grid-row: span 3;
}

.home header, .home .header {
  padding-bottom: 50vw;
  background: var(--homepage-bg-url), -webkit-gradient(linear, left bottom, left top, color-stop(85%, transparent), to(#000000));
  background: var(--homepage-bg-url), linear-gradient(0deg, transparent 85%, #000000 100%);
  background-blend-mode: darken;
  background-position: 50% 0%;
  background-size: 150% auto;
  background-attachment: fixed;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 900px) {
  .home header, .home .header {
    background: var(--homepage-bg-url), -webkit-gradient(linear, left bottom, left top, color-stop(75%, transparent), to(#000000));
    background: var(--homepage-bg-url), linear-gradient(0deg, transparent 75%, #000000 100%);
    padding-bottom: 38vw;
    background-size: 120% auto;
  }
}

@media screen and (min-width: 1100px) {
  .home header, .home .header {
    padding-bottom: 37vw;
    background-size: 110% auto;
  }
}

.home header .headerLogo .svg-fill-1, .home header .headerLogo .svg-fill-2, .home .header .headerLogo .svg-fill-1, .home .header .headerLogo .svg-fill-2 {
  fill: white;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.home header .headerLogo:hover .svg-fill-1, .home .header .headerLogo:hover .svg-fill-1 {
  fill: var(--clr-jesblue);
}

.home header .headerLogo:hover .svg-fill-2, .home .header .headerLogo:hover .svg-fill-2 {
  fill: var(--clr-jesorange);
}

.home header .headerToggleLabel .innerDiv, .home .header .headerToggleLabel .innerDiv {
  background-color: white;
}

.home header .headerLinksNav, .home .header .headerLinksNav {
  z-index: 50;
  top: 5rem;
}

@media screen and (min-width: 900px) {
  .home header .headerLinks .headerLink, .home .header .headerLinks .headerLink {
    color: white;
  }
  .home header .headerLinks .headerLink:hover, .home .header .headerLinks .headerLink:hover {
    color: var(--clr-jesorange);
  }
  .home header .headerLinks .headerLink.filled, .home .header .headerLinks .headerLink.filled {
    background-color: white;
    color: var(--clr-jesblue);
  }
  .home header .headerLinks .headerLink.filled:hover, .home .header .headerLinks .headerLink.filled:hover {
    background-color: var(--clr-jesorange);
    color: #fff;
    text-decoration: none;
  }
}

.home section.intro {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
}

.home section.intro p {
  margin-bottom: 5rem;
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: var(--clr-jesblue);
}

@media screen and (min-width: 900px) {
  .home section.intro .contentsZone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
  }
  .home section.intro p {
    width: 70%;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: left;
  }
}

.home section.chiffres {
  background-color: var(--clr-jesblue);
  padding: 4rem 0;
}

.home section.chiffres .contentsZone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home section.chiffres .num-data {
  max-width: 15rem;
  margin: 3.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home section.chiffres .num-data .bignum {
  color: white;
  font-size: 6rem;
  font-weight: 600;
  font-family: var(--font-body);
}

.home section.chiffres .num-data .text {
  color: white;
  font-size: 1.4rem;
  font-family: var(--font-body);
}

.home section.projets .contentsZone {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.home section.projets h1 {
  margin-bottom: 3rem;
  color: var(--clr-jesorange);
  font-weight: normal;
}

.home section.projets h1:after {
  display: none;
}

.home section.projets p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.home section.projets-illustration {
  padding-top: 15vw;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: var(--digital-illustration-url), var(--clr-jesorange);
  background-blend-mode: soft-light;
  background-position: 50% 100%;
  background-size: cover;
}

@media screen and (min-width: 900px) {
  .home section.projets-illustration {
    padding-top: 7vw;
  }
}

.home section.partenaires {
  background-color: var(--clr-gray-800);
}

.home section.partenaires .contentsZone {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home section.partenaires .partenairesZone {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
}

.home section.partenaires h1 {
  margin-bottom: 3rem;
  color: white;
  font-weight: normal;
}

.home section.partenaires h1:after {
  display: none;
}

.home section.partenaires .partenaire {
  max-width: 10rem;
  max-height: 8rem;
  margin: 2rem;
  -webkit-filter: saturate(0) brightness(1.5);
          filter: saturate(0) brightness(1.5);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.home section.partenaires .partenaire:hover {
  -webkit-filter: saturate(1) brightness(1);
          filter: saturate(1) brightness(1);
}

.home footer:before, .home .footer:before {
  display: none;
}
/*# sourceMappingURL=main.css.map */